*{
    box-sizing:border-box;
}
body{
    padding:0;
    margin:0;
}
#main{
    width:1211px;
    border:1px solid #ddd;
    margin:0 auto;
}
.box-shadow{
    width:300px;
    height:25px;
    margin:50px auto;
    border:1px solid #ddd;
    box-shadow:5px 8px 8px blue;
    text-align:center;
    color:red;
}
#page{
    border:1px solid #ddd;
    margin:8px auto;
    padding:38px;
}
#page a{
    margin:0 5px;
    text-decoration:none;
    color:#333;
}
#page a.active{
    padding: 3px 5px;
    background-color:#facc65;
    border-radius:3px 3px;
    text-decoration: underline;
    color:white;
}
#page .first-last{
    padding:3px 5px;
    border-radius:3px 3px;
    background:#6969b7;
    color:white;
}


















